<!DOCTYPE html> 
<html> 
  
    <head> 
        <title>
            This is a simple app to detect fire.
        </title>
        
        <style>
            .button {
                border: none;
                color: white;
                text-align: center;
                font-size: 20px;
            }
            .b1 {
                
                /* Set button background color */
                background-color: rgb(240, 15, 15);
            }
            
        </style>
    </head>
    
    <body>
        This is a simple app to detect fire. 
        
        <form action="/home/detection">
            <button class = "Fire Detection b1" type="submit">Fire Detection</button></form>
        
    </body> 
</html>   